*
	margin: 0

html, body
	height: 100%

	


h5
	
h2
	font-weight: 700
	font-size: 50px	
	
	
p
	color: #fff

	
	
header
	height: 100%
	background: url(../img/header.jpg)
	background-size: cover	
	
	display: flex
	flex-direction: row
	flex-wrap: wrap	
	justify-content: center
	align-items: center	
	text-align: center

header .header-content
	position: relative
	text-align: center
	padding: 100px 15px 100px
	width: 100%

header .header-content .header-content-inner h1 
	font-weight: 700
	color: #fff
	text-transform: uppercase
	margin-top: 0
	margin-bottom: 0
	font-size: 80px

header .header-content .header-content-inner hr 
	margin: 30px auto

header .header-content .header-content-inner p 
	font-weight: 300
	color: rgba(255, 255, 255, 0.7)
	font-size: 16px
	margin-bottom: 50px
	


.section-services
	background-color: rgba(0,0,0,0.1)
	display: flex
	flex-direction: row
	flex-wrap: wrap	
	justify-content: center
	align-items: center	
	text-align: center	
 
.section-love-help 
	height: 100%
	
	display: flex
	flex-direction: row
	flex-wrap: wrap	
	justify-content: center
	align-items: center	
	text-align: center

	margin: 0
	padding: 0
	background: url(../img/happy-black-man.jpg)
	background-repeat: no-repeat
	background-position: bottom right

.section-love-help .container .row  h2
	opacity: 0.7
	
.section-love-help 
	.container
		.row 
			h2, h5	
				text-align: left
				margin-top: -13px
				
section
	.section-love-help 
		.container
			.row			
				img
					display: flex
					flex-direction: row
					flex-wrap: wrap	
					justify-content: left !important
					align-items: center	
					text-align: left					

table, th, td
	white-space: nowrap
	width: 1px
	

.section-services .container .row 
	display: flex
	flex-direction: row
	flex-wrap: wrap	
	justify-content: center
	align-items: center	
	text-align: center

section .container .row  h2, h5
	color: black
		
section  
	padding: 100px 0
	

section .services 
	padding: 100px 0
	height: 70%
	background-color: rgba(0,0,0,0.2)

section .love
	padding: 100px 0
	height: 100% !important
	background: #ccc	


	
.centered
	text-align: center

.centered-text
	text-align: center


	
.row-content
	margin: 0px auto
	padding: 50px 0px 50px 0px
	border-bottom: 0px ridge
	min-height: 150px


	
	
.button-link	
	width: 150px
	text-align: center
	color:white
	border-radius: 25px
	border: 1px solid #D0D0D0
	height: 35px	
	line-height: 35px
	text-decoration: none
	margin-top: 10px
	color: #fff
	
	-webkit-transition: all .3s ease-in-out
	-moz-transition: all .3s ease-in-out
	-ms-transition: all .3s ease-in-out
	-o-transition: all .3s ease-in-out
	transition: all .3s ease-in-out
	&:hover
		background-color: rgba(0,0,0,0.2) !important					
		color: #fff !important
		-webkit-opacity: 1
		-moz-opacity: 1					
		opacity: 1	
		
.btn-success
	display:table
	background-color: #28bf55
	border-radius: 25px
	width: 180px
	height: 50px
	line-height: 36px
	font-size: 20px
	
	
.btn-success,
.btn-sucess:hover,
.btn-sucess:active
	background: #54c37f
	

		
.logo	
	width: auto
	height: 110px
	margin-top: -15px !important

.label-text
	margin-top: 10px	
	
	
		
.wrapper
	text-align: center

	
.custom-navbar
	ul
		li
			.navbar-link
				color: #fff !important
				text-transform: uppercase
				border-radius: 25px
				-webkit-transition: all .3s ease-in-out
				-moz-transition: all .3s ease-in-out
				-ms-transition: all .3s ease-in-out
				-o-transition: all .3s ease-in-out
				transition: all .3s ease-in-out
				&:hover
					background-color: rgba(0,0,0,0.2) !important					
					color: #fff !important
					-webkit-opacity: 1
					-moz-opacity: 1					
					opacity: 1	
				margin-top: 20px
				
	
	
.navbar-fixed-top
	border-width: 0px 0px 0px
	
.navbar
	border-radius: 0px
	margin-bottom: 0px
	min-height: 75px
	background: transparent !important
	border-radius: 0px
	

	
.navbar-brand
	margin-top: 0px
	
.intro
	display: table
	width: 100%
	height: 100%
	padding: 100px 0
	text-align: center
	color: white
	background: url(../img/header.jpg) no-repeat center center
	background-color: black
	-webkit-background-size: cover
	-moz-background-size: cover
	background-size: cover
	-o-background-size: cover
	
.sect
	height: 100%
	background: url(../img/header.jpg)
	background-size: cover	
	
	display: flex
	flex-direction: row
	flex-wrap: wrap	
	justify-content: center
	align-items: center	
	text-align: center
	
.sect01
	height: 100%
	background-color: rgba(0,0,0,0.1)
	
	display: flex
	flex-direction: row
	flex-wrap: wrap	
	justify-content: center
	
.contenedor
	display: flex
	flex-direction: row
	flex-wrap: wrap	
	justify-content: center
	align-items: center	
	text-align: center

.row1	
	display: flex
	flex-direction: row
	flex-wrap: wrap	
	justify-content: center
	align-items: center	
	text-align: center	
	
.box
	width: 160px
	background: rgba(255,255,255,255)
	height: 300px
	margin-right: 20px
	margin-top: 40px
	
	-webkit-box-shadow: 4px 10px 19px -1px rgba(0,0,0,0.75)
	-moz-box-shadow: 4px 10px 19px -1px rgba(0,0,0,0.75)
	box-shadow: 4px 10px 19px -1px rgba(0,0,0,0.75)
	

.sect02
	height: 100%
	background-color: rgba(0,0,0,0)	
	
	display: flex
	flex-direction: row
	flex-wrap: wrap	
	justify-content: center
	align-items: center	
	text-align: center
	
.sect03
	height: 100%
	display: flex
	flex-direction: row
	flex-wrap: wrap	
	justify-content: center
 

.navbar-toggle 
	background: #303F9F


.navbar-toggle .navbar-nav > .active > a,
.navbar-toggle .navbar-nav > .active > a:hover,
.navbar-toggle .navbar-nav > .active > a:focus
	color: #fff
	background: #1A237E


.navbar-toggle .navbar-nav > .open > a,
.navbar-toggle .navbar-nav > .open > a:hover,
.navbar-toggle .navbar-nav > .open > a:focus
	color: #fff
	background: #1A237E


.navbar-toggle .navbar-nav .open .dropdown-menu> li> a,
.navbar-toggle .navbar-nav .open .dropdown-menu
	background-color: #303F9F
	color: #eeeeee


.navbar-toggle .navbar-nav .open .dropdown-menu> li> a:hover
	color: #000000

	
	

	
