@media screen and (max-width: 728px)
	.custom-navbar
		.brand-logo
			margin: 0px auto
		.navbar-header
			button
				margin-top: 16px !important
				margin-bottom: 0px !important
		.navbar-collapse
			margin-top: 22px !important