@font-face {
  font-family: QanelasSoft;
  src: url(../fonts/QanelasSoft-Black.otf); }
@font-face {
  font-family: QanelasSoft Semibold;
  src: url(../fonts/QanelasSoft-SemiBold.otf); }
@font-face {
  font-family: QanelasSoft Light;
  src: url(../fonts/QanelasSoft-Light.otf); }
@font-face {
  font-family: QanelasSoft LightItalic;
  src: url(../fonts/QanelasSoft-LightItalic.otf); }
html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: "Merriweather", "Helvetica Neue", Arial, sans-serif; }

hr {
  border-color: #3b55e6;
  border-width: 3px;
  max-width: 50px; }

hr.light {
  border-color: white; }

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #3b55e6; }

a:hover,
a:focus {
  color: #3b55e6; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "QanelasSoft"; }

ul li {
  line-height: 12px; }

.italic {
  font-family: "QanelasSoft LightItalic"; }

.lower-case {
  font-family: "Georgia";
  text-transform: lowercase !important; }

.opacity-70 {
  opacity: 0.7; }

.button-link {
  width: 150px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #fff;
  height: 35px;
  line-height: 35px !important;
  text-decoration: none;
  margin-top: -7px;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .button-link:hover {
    background-color: #31d0ff !important;
    border-color: #3b55e6;
    color: #fff !important;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
  font-family: "QanelasSoft Light";
  color: white; }

.bg-primary {
  /*background-color: $bg_btn_normal */
  background: url(../img/line-background.png); }

.bg-primary-white {
  /*background-color: $bg_btn_normal */
  background: #fff; }

.bg-dark {
  background-color: #222222;
  color: white; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 100px 0; }

aside {
  padding: 50px 0; }

.no-padding {
  padding: 0; }

.navbar-default {
  background-color: black;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }

.navbar-default .navbar-header .navbar-brand {
  color: #3b55e6;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #3b55e6; }

.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase; }
  .navbar-default .navbar-header .navbar-toggle:hover {
    background-color: black !important; }

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #fff; }

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #3b55e6; }

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #3b55e6 !important;
  background-color: transparent; }

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent; }

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: transparent; }

  .navbar-default .navbar-header .navbar-brand {
    color: black; }

  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white; }

  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: white; }

  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #31d0ff; }

  .navbar-default.affix {
    background-color: black;
    border-color: rgba(34, 34, 34, 0.05); }

  .navbar-default.affix .navbar-header .navbar-brand {
    color: #3b55e6;
    font-size: 14px; }

  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #3b55e6; }

  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: white; }

  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #3b55e6; } }
.main {
  margin: 0px;
  padding: 30px;
  position: relative;
  width: 100%;
  min-height: auto;
  background: url(../img/IPAD.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: black; }
  .main h4 {
    font-family: QanelasSoft Light;
    font-size: 20px;
    margin-top: 40px; }
  .main h3 {
    font-size: 20px;
    margin-left: 70px; }
  .main h1 {
    font-family: QanelasSoft;
    font-size: 50px;
    position: relative;
    top: 0px;
    margin-top: -10px;
    margin-bottom: 20px; }
  .main .options {
    padding: 30px;
    width: 500px; }
  .main .options-final {
    margin-left: 70px; }
  .main ul {
    display: flex;
    justify-content: center; }
  .main .icon {
    width: 60px; }
  .main .lets-talk {
    width: 200px; }

.text-primary {
  color: #3b55e6; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  color: #222222;
  background-color: white;
  border-color: blue;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed; }

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none; }

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white; }

.btn-default .badge {
  color: white;
  background-color: #222222; }

.btn-primary {
  color: white;
  background-color: #3b55e6;
  border-color: #3b55e6;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #425fff;
  border-color: #425fff; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #3b55e6;
  border-color: #3b55e6; }

.btn-primary .badge {
  color: #3b55e6;
  background-color: white; }

.btn {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase; }

.btn-xl {
  padding: 15px 30px; }

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222; }

::selection {
  color: white;
  text-shadow: none;
  background: #222222; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  webkit-tap-highlight-color: #222222; }

/*Aqui van todos mis estilos y clases personalizadas ----------------------- */
.title {
  font-size: 100px;
  color: black; }

.header-subtitle {
  font-family: QanelasSoft Semibold;
  font-size: 20px !important;
  color: #43484d; }

.subtitle {
  font-family: QanelasSoft;
  font-size: 50px; }

.tag-subtitle {
  font-family: QanelasSoft;
  font-size: 20px !important; }

.visibility {
  position: relative;
  opacity: 0;
  border: 1px solid #31d0ff !important;
  top: -15px; }

.text-alinear {
  text-align: right !important;
  margin-right: 20px;
  margin-top: 20px; }
  .text-alinear p {
    width: 50%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center; }

@media (max-width: 895px) {
  .we-can-help .row .text-right {
    width: 90%;
    margin: 20px auto;
    text-align: center; }
    .we-can-help .row .text-right p {
      text-align: center;
      width: 100% !important; }
    .we-can-help .row .text-right .btn-default {
      margin-top: 20px; }
  .we-can-help .subtitle {
    font-size: 40px; } }
@media (max-width: 768px) {
  .we-can-help .row .text-right {
    width: 90%;
    margin: 20px auto;
    text-align: left; }
    .we-can-help .row .text-right p {
      text-align: left;
      width: 100% !important;
      font-size: 20px; }
    .we-can-help .row .text-right .btn-default {
      margin-top: 20px; }
    .we-can-help .row .text-right ul {
      list-style: none !important; }
  .we-can-help .subtitle {
    font-size: 40px; } }
@media (max-width: 768px) {
  .what-you-need {
    min-height: 50%; }

  .text-left h2 {
    font-size: 30px; }

  .bg-services {
    background-size: 60% !important; } }
.text-right {
  width: 60%;
  margin-left: 40%;
  margin-top: 100px;
  text-align: left; }

footer {
  height: 100px;
  text-align: center;
  color: #fff;
  background: #222328;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  footer .container .row {
    padding-top: 10px;
    padding-bottom: 10px; }
  footer .logo {
    width: auto;
    height: 30px; }

.box {
  margin-top: 20px;
  width: 160px;
  background: white;
  height: 250px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; }
  .box .blue {
    position: relative;
    display: none; }
  .box:hover {
    border-bottom: 5px solid #31d0ff; }
    .box:hover .visibility {
      opacity: 1;
      border-color: #3b55e6;
      color: #31d0ff !important;
      background-color: white; }
    .box:hover .blue {
      display: inline; }
    .box:hover .color {
      color: #31d0ff !important; }
    .box:hover .ppc {
      display: none; }
  .box img {
    width: 65px;
    margin-top: 50%; }
  .box h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.6) !important; }
  .box:hover {
    -webkit-box-shadow: 3px 10px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 3px 10px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.35);
    background: rgba(240, 241, 242, 0.2); }
  .box .btn-xl {
    margin-top: 60px;
    padding: 8px 15px; }

.center-element {
  display: inline-table;
  margin-left: auto;
  margin-right: auto; }

.shadows-active {
  -webkit-box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.45); }

.shadows {
  -webkit-box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 3px 2px 2px 0px rgba(0, 0, 0, 0.17); }

/*Seccion de Testimonials and Feedbacks */
#p-technologies {
  margin-top: 0; }

.section-technologies {
  background: url(../img/line-background.png);
  width: 100%;
  min-height: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center; }
  .section-technologies .options {
    margin-right: 30px; }
  .section-technologies .section-heading {
    position: relative;
    margin-bottom: 0;
    color: white;
    margin-top: 0;
    top: -15px;
    bottom: 0; }

.left {
  margin-left: -10px; }

.right {
  margin-right: 200px; }

.hidden {
  visibility: hidden; }

.visible {
  visibility: visible; }

.icon-success {
  position: absolute;
  top: 5px;
  right: 5px; }

.why-us-box-container {
  position: relative;
  width: 250px !important;
  height: 280px !important;
  min-width: 300px !important;
  min-height: 350px !important;
  position: relative;
  margin-bottom: 40px;
  border-radius: 5px;
  margin-top: -20px;
  /*background: url(http://lorempixel.com/500/300) */
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 0 2px black; }
  .why-us-box-container .options {
    width: 100%;
    height: 100%;
    margin-right: 0;
    display: flex;
    align-items: center; }
    .why-us-box-container .options .row {
      margin-left: 0;
      width: 100%; }
    .why-us-box-container .options img {
      width: 100px; }
    .why-us-box-container .options .options-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin-left: 140px; }
    .why-us-box-container .options h3 {
      margin-top: 0; }
    .why-us-box-container .options p {
      color: black !important; }
  .why-us-box-container:hover {
    background: white;
    -webkit-box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.35); }
    .why-us-box-container:hover h3, .why-us-box-container:hover h4, .why-us-box-container:hover i {
      color: black !important; }
    .why-us-box-container:hover .btn-default {
      background-color: #3b55e6;
      color: white; }

.bg-services {
  width: 100%;
  height: 100%;
  min-height: auto;
  position: relative;
  margin: 0;
  padding: 0;
  background: url(../img/happy-black-man.jpg);
  background-size: cover;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: bottom left; }
  .bg-services h5 {
    font-family: QanelasSoft Light;
    text-transform: uppercase;
    opacity: 0.8; }
  .bg-services li {
    font-family: QanelasSoft; }
  .bg-services p {
    color: black; }
  .bg-services img {
    width: 50px; }
  .bg-services .btn-default {
    border: 1px solid #3b55e6;
    background: white;
    width: 180px;
    height: 40px;
    line-height: 45%;
    color: #3b55e6; }
    .bg-services .btn-default:hover {
      -webkit-box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.35); }
  .bg-services .icon-heart {
    width: 40%; }

@media (max-width: 768px) {
  .bg-services {
    height: auto;
    background-position: bottom right; } }
.container {
  width: 90% !important; }

.logos-need {
  margin-right: 20px; }

.socials li {
  margin-left: 20px; }

.margin-1 {
  margin-left: 0px; }

.margin-2 {
  margin-left: 30px; }

.margin-3 {
  margin-left: 60px; }

.row-box {
  margin-top: 30px;
  display: flex;
  justify-content: center; }

.text-center-contenido {
  display: relative;
  padding: 0;
  margin-top: -30px; }
  .text-center-contenido h2 {
    font-size: 50px;
    margin-top: 0px; }
  .text-center-contenido h5 {
    text-transform: uppercase;
    margin-bottom: 0px; }
  .text-center-contenido ul {
    margin-top: 70px; }
  .text-center-contenido p {
    width: 80%; }

.boton {
  width: 300px;
  height: 40px;
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 0;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
  border: 0px solid #000000; }
  .boton .izq {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 40px;
    line-height: 30px;
    border-radius: 25px 0px 0px 25px;
    -moz-border-radius: 25px 0px 0px 25px;
    -webkit-border-radius: 25px 0px 0px 25px;
    border: 0px solid #000000; }
    .boton .izq:hover {
      -webkit-box-shadow: -6px 10px 10px 0px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: -6px 10px 10px 0px rgba(0, 0, 0, 0.35);
      box-shadow: -6px 10px 10px 0px rgba(0, 0, 0, 0.35); }
  .boton .der {
    background: #1ecde2;
    position: absolute;
    width: 150px;
    height: 40px;
    margin-left: 0px;
    top: 0;
    left: 150px;
    line-height: 30px;
    border-radius: 0px 25px 25px 0px;
    -moz-border-radius: 0px 25px 25px 0px;
    -webkit-border-radius: 0px 25px 25px 0px;
    border: 0px solid #000000; }
    .boton .der:hover {
      -webkit-box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 6px 10px 10px 0px rgba(0, 0, 0, 0.35); }

.across-the-globe {
  min-height: 80%;
  /*background-position: center  esto lo quite para que bajara el fondo */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  /*background: url(../img/line-background.png) */
  background: url(../img/image_woldcustomermap.png) no-repeat center center;
  background-size: 80%; }
  .across-the-globe h2 {
    font-family: QanelasSoft Semibold; }
  .across-the-globe .light {
    font-family: QanelasSoft Light; }
  .across-the-globe .content {
    margin-top: -60px; }

/*Esto es para los links del navbar, que solo este activo el de la pagina actual */
#navbar a {
  opacity: 0.7; }

.active-white {
  color: white !important;
  opacity: 1 !important; }

.active-blue {
  color: #3b55e6 !important;
  opacity: 1 !important; }

.active-black {
  color: black !important;
  opacity: 1 !important; }

/*# sourceMappingURL=we-can-help.css.map */
